<footer class="footer-heemsa text-center">
    <div class="container">
        <div class="footer-section">
            <p>HEEMSA © 2025. Todos los derechos reservados.</p>
            <p>Herramientas automotrices y equipos especializados</p>
            <p>Teléfonos: 351-517-6946 | Correo: contacto@heemsa.com</p>
            <p><a href="/aviso-privacidad/" style="color: #fff; text-decoration: underline;">Aviso de Privacidad</a></p>
        </div>
        <div class="footer-section social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="/assets/icons/facebook.png" alt="Facebook">
            </a>
            {# <a href="https://www.instagram.com" target="_blank">
                <img src="/assets/icons/instagram-icon.svg" alt="Instagram">
            </a> #}
            <a href="https://www.twitter.com" target="_blank">
                <img src="/assets/icons/x.png" alt="Twitter">
            </a>
        </div>
    </div>
</footer>
